@import url('https://fonts.googleapis.com/css?family=Gamja+Flower');

body{
  font-family: fantasy;
  background-color:#618685;
  background-image: url("images/fondoplay.png");
  background-size: cover;
}
p{
  font-family: 'Gamja Flower', cursive;
  color: #fefbd8;
  font-size: 30px;
  line-height: 24px;
}
h1{
  font-size: 50px;
  color: #d5f4e6;
  text-align: center;
}

ul{
  font-size: 25px;
  width: 25%;
  height: 100px;
  padding: 50px;
  margin: auto;
  color: #80ced6;
}

li {
  font-family: 'Gamja Flower', cursive;
  font-size: 30px;
  float: left;
  text-align: center;
  list-style: none;
  width:33.33%;
  color: #80ced6;
}

a {
  font-size: 30px;
  color: #80ced6;
}


.control{
  background-image: url('images/control.jpg');
  background-repeat: no-repeat;
  background-position: center top;
}
.imagentexto{
  float:left;
  padding-right: 20px;
}
